body {
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: white !important;
    border: none;
    width: 100%;
    z-index: 10;
    padding: 10px 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img.logo {
    width: 80px;
    height: 80px;
}

.navbar-nav .nav-item .nav-link.custom-link {
    color: #d3d3d3;
    margin-left: 15px;
    font-size: 16px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-item .nav-link.custom-link:hover {
    transform: scale(1.1);
    color: rgba(98, 93, 93, 1) !important;
}

.navbar-nav .btn.custom-btn {
    margin-left: 15px;
    font-size: 16px;
    background-color: transparent;
    color: rgba(98, 93, 93, 1);
    border: 2px solid rgba(98, 93, 93, 1);
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.navbar-nav .btn.custom-btn.active {
    background-color: rgba(98, 93, 93, 1);
    color: white;
}

.navbar-nav .btn.custom-btn:hover,
.navbar-nav .btn.custom-btn.active:hover {
    transform: scale(1.1);
    background-color: rgba(98, 93, 93, 1) !important;
    color: white !important;
    border-color: rgba(98, 93, 93, 1) !important;
}

.btn.custom-btn-outline {
    margin-left: 15px;
    font-size: 16px;
    background-color: transparent;
    color: rgba(98, 93, 93, 1);
    border: 2px solid rgba(98, 93, 93, 1);
    transition: transform 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn.custom-btn-outline:hover {
    transform: scale(1.1);
    background-color: rgba(98, 93, 93, 1) !important;
    color: white !important;
    border-color: rgba(98, 93, 93, 1) !important;
}

.hero {
    display: flex;
    height: 55vh;
}

.hero-split {
    /*flex: 1;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hero-text {
    color: #d3d3d3;
    font-size: 20px;
    background-color: rgba(98, 93, 93, 1);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 40%;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
}

.hero-image {
    background-image: url('images/hero-img.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.highlighted-txt {
    color: #FFFF;
    font-weight: bold;
}

.intro-text {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #FFFF;
    color: #333;
}

.intro-text .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-image {
    flex: 1;
    text-align: center;
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.intro-description {
    flex: 2;
    padding-left: 20px;
}

.intro-text p {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.6;
}

.section-divider {
    width: 50%;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #e0e0e0;
}

.buttons-and-content {
    margin-top: 50px;
    background-color: #FFFF;
}

.active {
    background-color: rgba(98, 93, 93, 1) !important;
    color: white !important;
}

.button-group {
    margin-top: 20px;
}

.button-group .btn {
    margin-right: 10px;
}

.additional-text {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.scope-of-services {
    text-align: center;
    background-image: url('images/handshake.jpg');
    background-size: cover;
    background-position: center;
    height: 280px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    width: 65%;
    margin: 70px auto 20px;
    overflow: hidden;
}

.services-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section {
    padding-bottom: 20px;
    background-color: #FFFF;
    color: #333;
    text-align: center;
}

#benefits {
    margin-top: 20px;
}

.services-section .service-item {
    margin-bottom: 30px;
}

.services-section .service-item h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.services-section .service-item p {
    font-size: 18px;
    line-height: 1.6;
}

.benefits-header {
    position: relative;
    text-align: center;
    color: white;
    width: 73%;
    margin: 0 auto;
    padding: 50px 0;
    background-image: url('images/benefits.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.benefits-header h2 {
    position: relative;
    z-index: 1;
    font-size: 36px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
}



.benefits-section {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #FFFF;
}

.benefits-section .button-group {
    margin-bottom: 20px;
}

.benefits-section h2 {
    text-align: center;
}

.benefits-section .button-group .btn {
    margin-right: 10px;
}

.benefit-content {
    text-align: left;
}

.benefit-item {
    display: none;
    padding: 25px;
    border-radius: 15px;
}

.benefit-item.active {
    display: block;
    text-align: center;
}

.contact-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    background-color: rgba(98, 93, 93, 1);
    color: white;
    padding: 20px 0;
}

.footer .logo-footer {
    width: 100px;
    height: 100px;
    border-radius: 15%;
}

.footer p {
    margin: 5px 0;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
    }

    .hero-split {
        margin: 10px 0;
    }

    .hero-text,
    .hero-image {
        max-width: 100%;
        margin: 10px 0;
    }

    .hero-image {
        height: 50vh;
    }

    .intro-image {
        display: none;
    }
    .intro-text .container {
        flex-direction: column;
        text-align: center;
    }

    .intro-description {
        padding-left: 0;
    }

    .scope-of-services {
        width: 90%;
    }

    .services-section .service-item h3 {
        font-size: 20px;
    }

    .services-section .service-item p {
        font-size: 16px;
    }

    .benefits-section .button-group .btn {
        margin-bottom: 10px;
    }

    .benefits-section h2 {
        font-size: 24px;
    }

    .benefits-section .button-group {
        flex-direction: column;
    }

    .benefit-item {
        text-align: center;
    }
}
